@import  'bootstrap/dist/css/bootstrap.min.css';



.page_container{
  background-color: rgba(18, 18, 18, 1);
  height: auto;
  
  padding-bottom: 30px;
  scroll-behavior: smooth;
}

 body {
   overflow-x: hidden;
 }