.spot_ligt_container{
    width: 95%;
    height: auto;
    flex-shrink: 0;
    padding-left:20px;
    border-radius: 51.844px;
    background: rgba(102, 100, 103, 0.14);
    margin:2%;
    padding-right: 20px;
}


.spoting_light_heading_button{
    padding-top: 20px;
}

.spoting_heading{
    color: var(--text-white-100, #FFF);
    font-family: Poppins;
    font-size: 32.692px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

@media screen  and (max-width:767px){
    .spoting_heading{
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {
    .game_heading {
        font-size: 16px;
    }
}

.game_heading{
    color: #571998;
    font-family: Poppins;
    font-size: 32.692px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.view_all_button{
    display: inline-flex;
    padding: 10.264px 22.238px;
    align-items: center;
    gap: 8.553px;
    border-radius: 44.477px;
    background: #7B25C1;
    border:none;
}

@media screen and (max-width:767px) {
    .view_all_button {
        padding: 5.264px 11.238px;
        align-items: center;
        gap: 4.553px;
        border-radius: 22.477px;
    }
}



.picture_elemts{
    width: 100%;
    height: 385.29px;
    flex-shrink: 0;
    border-radius: 51.84px;
}

.all_picture_container{
    padding-top:50px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

@media screen and (max-width:768px) {
    .all_picture_container{
        display: flex;
        flex-direction: column;
    }
}

.text_container{
    padding-top: 40px;
    text-align: start;
}

.heading_section{
    color: #FFF;
    font-family: Poppins;
    font-size: 26.663px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.para_section{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
